:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #9d9eb1;
  text-decoration: inherit;
}
a:hover {
  color: #d8d9e6;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


button.selected {
  background: cornflowerblue;
}

.button.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0.5em 0;
}

.row.nowrap, .nowrap {
  flex-wrap: nowrap;
}

button {
  padding: 0.5em;
  background: #ddd;
  border: none;
  transition: background-color 200ms ease-in-out;
}

button:hover {
  background: #fff;
  border: none;
  transition: background-color 200ms ease-in-out;
}

button:active {
  background: #999;
  border: none;
  transition: background-color 200ms ease-in-out;
}

button:disabled,
button.disabled {
  cursor: default;
  background: #ccc;
}


.control-block {
  flex: 1 1;
  margin: 0;
  background: #333;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  transition: background-color 200ms ease-in-out;
  min-height: 4em;
}

.control-block.center {
  justify-content: center;
}

.control-block:hover {
  background: #222;
  transition: background-color 200ms ease-in-out;
}

.control-block label {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .control-block {
    flex-direction: column;
    align-items: stretch;
  }
  .row {
    justify-content: stretch;
  }
}
